*.tlog
*.obj
*.log
*.map
.vs/
*.recipe
*.vcxproj.FileListAbsolute.txt
*.pdb
Builds/
*.tmp
DvlErrLog.txt
*.pch
*raw_store.inl
*.yaml
*.suo
sdk/
x64/
enc_temp_folder/
build/
*.id0
*.id1
*.nam
*.til
*.lib
*.exe
*.dll
*.sys
!resources/drivers/**/*.sys
*.dmp
*.id2
wasm_tmp/
llvm_tmp/
*/node_modules/
*.cpuprofile

*.i64

diana-native/linux/zstd
apollo-test-app/test.cpp
apollo-test-app/apollo-test-app.sln
apollo-test-app/apollo-test-app.vcxproj
